$colors: (
  primary: (
    300: hsl(249, 99%, 64%),
    500: hsl(278, 94%, 30%),
  ),
  accent: (
    400: hsl(0, 100%, 66%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(270, 3%, 87%),
    300: hsl(279, 6%, 55%),
    800: hsl(278, 68%, 11%),
  ),
);

/*
### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)
*/
