@use '../abstracts' as *;

$work: hsl(15, 100%, 70%);
$play: hsl(195, 74%, 62%);
$study: hsl(348, 100%, 68%);
$exercise: hsl(145, 58%, 55%);
$social: hsl(264, 64%, 52%);
$self-care: hsl(43, 84%, 65%);

.cards {
  @include media-query('medium') {
    grid-template-columns: repeat(4, 1fr);
  }
}

.profile {
  grid-column: 1;
  grid-row: span 2;
  border-radius: 1rem;
  overflow: hidden;
  height: 100%;
}

.profile__body {
  padding: 1.5rem;
  border-radius: 1rem;
}

.profile__body img {
  width: 4rem;
  outline: 3px solid #fff;
  border-radius: 50%;
  aspect-ratio: 1;
}

.profile__info {
  margin-block: 2rem;
}

.profile__period {
  padding: 1.5rem;
  justify-content: center;

  @include media-query('medium') {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@mixin card($name, $bgc, $img) {
  &[data-card=#{$name}] {
    background-color: $bgc;

    &::before {
      background-image: url($img);
    }
  }
}

.card {
  width: min(100%, 25rem);
  height: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  isolation: isolate;
  display: grid;

  @include card(work, $work, '/assets/images/icon-work.svg');
  @include card(play, $play, '/assets/images/icon-play.svg');
  @include card(study, $study, '/assets/images/icon-study.svg');
  @include card(exercise, $exercise, '/assets/images/icon-exercise.svg');
  @include card(social, $social, '/assets/images/icon-social.svg');
  @include card(self-care, $self-care, '/assets/images/icon-self-care.svg');
}

.card::before {
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: -.5rem;
  right: 1rem;
  z-index: -1;
}

.card__body {
  padding: 1.5rem;
  align-self: flex-end;
  width: 100%;
  min-height: calc(100% - 2rem);
  border-radius: 1rem;
}

.card__header {
  align-items: center;
  justify-content: space-between;

  & p {
    text-transform: capitalize;
  }
}

.card__content {
  justify-content: space-between;
  align-items: center;
  
  @include media-query('medium') {
    --gap: 0;
    flex-direction: column;
    align-items: start;
  }
}