@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* =========
  Root
========== */
:root {
  --neutral-200: hsl(236, 100%, 87%);
  --neutral-300: hsl(235, 45%, 61%);
  --neutral-400: hsl(246, 80%, 60%);
  --neutral-700: hsl(235, 46%, 20%);
  --neutral-800: hsl(226, 43%, 10%);

  --bg-card: var(--neutral-700);
  --bg-body: var(--neutral-800);
  --text-neutral-body: var(--neutral-200);
  --text-neutral-accent: var(--neutral-300);

  --ff-body: 'Rubik', sans-serif;
  
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;

  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-900: 2rem;

  @include media-query('medium') {
    --fs-900: 3rem;
  }
}